/*ส่วนนี้คือCSS */
        /*ใช้สำหรับแต่ง (id class)  */
        @font-face {
            font-family: 'Kanit';
            src: url('./Kanit/Kanit-Regular.ttf')
        }

        body {
            background-color: #D9EAFD;
            font-family: 'Kanit';
            font-size: 14px;
        }

        .container{
            width: 100%;
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;
            background-color: rgb(255, 234, 247);
            padding: 20px;
            box-sizing: border-box;
            border-radius: 10px;
        }

        .small-button {
            display: inline-block;
            padding: 5px 8px; /* ลด padding */
            background-color: #667BC6;
            color: white;
            text-decoration: none;
            font-size: 12px; /* ลดขนาดฟอนต์ */
            border-radius: 50px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;

        }

        .small-button:hover {
            transform: scale(1.05);
            background-color: #D17D98; 
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); //เพิ่มเงา
        }

        .small-button1 {
            display: inline-block;
            padding: 5px 8px; /* ลด padding */
            background-color: #667BC6;
            color: white;
            text-decoration: none;
            font-size: 12px; /* ลดขนาดฟอนต์ */
            border-radius: 50px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;

        }

        .small-button1:hover {
            transform: scale(1.05); 
            background-color: #D17D98;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); //เพิ่มเงา
        }

        .header{
            font-size: 30px;
            text-align: center;
            margin-bottom: 20px;
            font-weight: 300;
        }

        .header-form{
            width: 140px;
        }
        .flex{
            display: flex;
            margin-bottom: 10px;
        }

        .form-inout{
            margin-bottom: 30px;
        }

        input.form, textarea{
            border: 1px solid plum;
            width: 100%;
        }

        .center{
            text-align: center;
        }

        .button{
            border: 2px solid #E7BCDE;
            background-color: #E3A5C7; 
            width: 50%;
            height: 40px;
            border-radius: 4px;
        }
        .button:hover{
            transform: scale(1.05); 
            background-color: #D9EAFD;
            transition: transform 0.2s ease, opacity 0.3s ease;
        }
        .message{
            margin-bottom: 20px;
            padding: 10px;
            margin-top: 20px;
            background-color: #BB9CC0;
            display: none;
        }

        .message.success{
            background-color: #C1CFA1;
            display:block;
        }
        .message.danger{
            background-color: #E78F81;
            display:block;
        }

        /* สำหรับตาราง */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background:#FFFDF0; /* สีพื้นหลังของตาราง */
            margin-left:2px;
            border-radius: 4px;
            
        }

        tr:nth-child(even) {
            background-color: #E5D9F2; /* แถวที่เป็นเลขคู่ */
        }


        th, td {
            border: 1px solid #ddd; 
            padding: 8px;
            text-align: auto;

        }

        th {
            background-color: #E3A5C7; /* สีสำหรับหัวข้อคอลัมน์ */
            color: white;
            font-weight: 300;
        }


        tr:hover {
            background-color: #FDE2F3; /* สีเมื่อ hover */
        }

        .actions {
            white-space: nowrap; /* ป้องกันปุ่มเบียดกัน */
        }

        .actions button {
            margin: 0 4px; /* เพิ่มระยะห่างระหว่างปุ่ม */
            padding: 6px 12px;
            border: none;
            background-color: #E78F81; //สีสำหรับปุ่มDelete
            color: white;
            cursor: pointer;
            border-radius: 4px;
            margin-left: 30px;
            
        }

        .actions button:hover {
            background-color: #FFB4A2; //สีสำหรับปุ่มDelete ขณะ hover
            transform: scale(1.03); 
            transition: transform 0.2s ease, opacity 0.3s ease;
        }

        .actions a button {
            background-color: #FBF3B9; //สีสำหรับปุ่มEdit  
            
        }

        .actions a button:hover {
            background-color: #D9EAFD; //สีสำหรับปุ่มEdit ขณะ hover
            transform: scale(1.03); 
            transition: transform 0.2s ease, opacity 0.3s ease;
        }
    222

@media screen and (max-width: 768px) {
    .flex{
        flex-direction: column;
    }   
    .header{
        font-size: 24px;
    }
    .button{
        width: 100%;
    }
    
}   