/*ส่วนนี้คือCSS */
        /*ใช้สำหรับแต่ง (id class)  */
        @font-face {
            font-family: 'DM';
            src: url('./DM/DMSerifText-Italic.ttf')
        }

        body {
            background-color: #D9EAFD;
            font-family: 'Kanit';
            font-size: 14px;
        }

        .container{
            width: 100%;
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;
            background-color: #FFEDFA;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 10px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* เพิ่มเงาให้เนียน */
        }
        .container:hover {
            transform: translateY(-4px); /* เลื่อนขึ้นเล็กน้อยเมื่อ hover */
            
        }

        .small-button {
            display: inline-block;
            padding: 5px 8px; /* ลด padding */
            background-color: #667BC6;
            color: white;
            text-decoration: none;
            font-size: 15px; /* ลดขนาดฟอนต์ */
            border-radius: 50px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
            font-family: 'DM';

        }

        .small-button:hover {
            transform: scale(1.05);
            background-color: #D17D98; 
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); //เพิ่มเงา
            transition: all 0.3s ease;
        }

        .small-button1 {
            display: inline-block;
            padding: 5px 8px; /* ลด padding */
            background-color: #667BC6;
            color: white;
            text-decoration: none;
            font-size: 15px; /* ลดขนาดฟอนต์ */
            border-radius: 50px;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
            font-family: 'DM';

        }

        .small-button1:hover {
            transform: scale(1.05); 
            background-color: #D17D98;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); //เพิ่มเงา
            transition: all 0.3s ease;
        }

        .header{
            font-size: 35px;
            text-align: center;
            margin-bottom: 20px;
            font-weight: 600;
            color:#7886C7;
            transition: transform 0.3s ease;
            font-family: 'DM';
        }
        .header:hover {
            transform: scale(1.10); /* ขยายตัวเมื่อ hover */
        }

        .header-form{
            width: 100px;
            font-family: 'DM';
        }
        .flex{
            display: flex;
            margin-bottom: 10px;
            font-family:'DM';
        }

        .form-input{
            margin-bottom: 30px;
            font-family: 'DM';
        }

        input.form, textarea{
            border: 1px solid plum;
            width: 100%;
            border-radius: 7px;
            font-family: 'DM';
        }

        .center{
            text-align: center;
        }

        .button{
            border: none;
            background-color: #7886C7; 
            width: 30%;
            height: 40px;
            border-radius: 50px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); //เพิ่มเงา
            text-decoration: none;
            font-size: 15px; /* ลดขนาดฟอนต์ */
            color: white;
            font-weight: 600;
            font-family: 'DM';

        }
        .button:hover{
            transform: scale(1.05); 
            background-color: #A9B5DF;
            transition: transform 0.2s ease, opacity 0.3s ease;
        }
        .message{
            margin-bottom: 20px;
            padding: 10px;
            margin-top: 20px;
            background-color: #BB9CC0;
            display: none;
            border-radius: 5px;
        }

        .message.success{
            background-color: #C1CFA1;
            display:block;
            border-radius: 5px;
        }
        .message.danger{
            background-color: #E78F81;
            display:block;
            border-radius: 5px;
        }

        /* สำหรับตาราง */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background:#F8FAFC; /* สีพื้นหลังของตาราง */
            margin-left:2px;
            border-radius: 4px;
            
        }
        table:hover {
            transform: scale(1.02); /* ขยายตารางเมื่อ hover */
            transition: transform 0.2s ease, opacity 0.3s ease;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); //เพิ่มเงา
           
        }

        /*tr:nth-child(even) {
            background-color: #E5D9F2; // แถวที่เป็นเลขคู่ 
        }*/


        th, td {
            border: 1px solid #ddd; 
            padding: 8px;
            text-align: auto;
            font-family: 'DM';
            

        }

        th {
            background-color: #E3A5C7; /* สีสำหรับหัวข้อคอลัมน์ */
            color: white;
            font-weight: 600;
            font-family: 'DM';
        }


        tr:hover {
            background-color: #FDE2F3; /* สีเมื่อ hover */
        }

        .actions {
            white-space: nowrap; /* ป้องกันปุ่มเบียดกัน */
        }

        .actions button {
            margin: 0 4px; /* เพิ่มระยะห่างระหว่างปุ่ม */
            padding: 6px 12px;
            border: none;
            background-color: #E78F81; //สีสำหรับปุ่มDelete
            color: white;
            cursor: pointer;
            border-radius: 4px;
            margin-left: 30px;
            font-family: 'DM';
            
        }

        .actions button:hover {
            background-color: #FFB4A2; //สีสำหรับปุ่มDelete ขณะ hover
            transform: scale(1.03); 
            transition: transform 0.2s ease, opacity 0.3s ease;
        }

        .actions a button {
            background-color: #FBF3B9; //สีสำหรับปุ่มEdit  
            font-family: 'DM';
            
        }

        .actions a button:hover {
            background-color: #D9EAFD; //สีสำหรับปุ่มEdit ขณะ hover
            transform: scale(1.03); 
            transition: transform 0.2s ease, opacity 0.3s ease;
        }
 

@media screen and (max-width: 768px) {
    .flex{
        flex-direction: column;
    }   
    .header{
        font-size: 24px;
    }
    .button{
        width: 100%;
    }
    
}   